*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div {
  display: flex;
  flex-direction: column;
}

.kotak {
  height: 170px;
  width: 170px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kotak > .lampu {
  height: 120px;
  width: 120px;
  border-radius: 80px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}